@font-face {
    font-family: NotoSans-Regular;
    src: url(../../assets/fonts/Noto_Sans/NotoSans-Regular.ttf);
}

@font-face {
    font-family: NotoSans-Bold;
    src: url(../../assets/fonts/Noto_Sans/NotoSans-Bold.ttf);
}


